<!DOCTYPE html>
<html>
  <head>
    <title>GTFO</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>
    <header>
      <h1>You're in <%= city %>, <%= region %> - <strong>Get The F*ck Outside!</strong></h1>

      <div>
        <ol>
          <% places.each do |place| %>
            <li>
              <a href="/gtfo/<%=place["name"]%>"><%= place["name"] %></a>
              <ul><li>Rating: <%= place["rating"] %></li></ul>
            </li>
          <% end %>
        </ol>
      </div>

      <div>
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBRo-mtutP62p-Z5mPGwgZj0fArDw7e_7A
            &q=<%= city %>, <%= region %>
            &attribution_source=Google+Maps+Embed+API
            &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= city %>, <%= region %>">
        </iframe>
      </div>

      <div>
        Created by <a href="https://github.com/bsterno">Brian Stern</a> and <a href="https://github.com/APKirstein">Drew Kirstein</a>
      </div>
    </header>
  </body>


</html>
